{% extends('layout/layout.html.twig') %}

{% block body %}
    <section>
        <div class="container">
            <div class="col-md-12">
                <h1 class="color-black">À propos</h1>
                <hr>
                <p>Cathay Compagnie est spécialisée dans le secteur d'activité du commerce de gros (commerce interentreprises).</p>
            </div>
        </div>
    </section>

{% endblock %}