{% extends('layout/layout.html.twig') %}

{% block body %}
    <section>
        <div class="container">
            <div class="col-md-12">
                <h1 class="color-black">Conditions commerciales</h1>
                <hr>
                <h2>Minimum de commande</h2>
                <h2>Expédition</h2>
                <h2>Paiement</h2>
            </div>
        </div>
    </section>

{% endblock %}