{% extends('layout/layout.html.twig') %}

{% block body %}
    <section>
        <div class="container">
            <div class="col-md-12">
                <h1 class="color-black">Conditions commerciales</h1>
                <hr>
                Cathay Compagnie est une société d'import export spécialisé dans la vente en gros. Nous travaillons uniquement avec des commerçants professionnels. La société dispose d'une boutique physique dans lequel chaque commerçant est libre de venir faire ses achats. 
                <h2>Minimum d'achat</h2>
                <p>Nous exigeons de nos nouveaux clients un minimum d'achats de 150€ (HT) pour l'ouverture d'un compte chez Cathay Compagnie. Sur la boutique en ligne, le montant minimum de commande est de 200€ (HT). </p>
                <h2>Accès à la boutique en ligne</h2>
                <p>Seuls les commerçants déjà client chez Cathay Compagnie sont habilités à déposer une demande d'accès à la boutique en ligne. Dans ce cas, nous vous invitons à venir nous rencontrer dans notre boutique pour obtenir vos identifiants.</p>
            </div>
        </div>
    </section>

{% endblock %}