{% extends('layout/layout.html.twig') %}

{% block body %}
    <section>
        <div class="container">
            <div class="col-md-12">
                <h1 class="color-black">Contact</h1>
                <hr>
                <p class="ft-s16">Pour tout renseignement complémentaire, contactez-nous: </p>
                <p><span class="glyphicon glyphicon-phone-alt"></span> 01 48 11 98 18</p>
                <p><span class="glyphicon glyphicon-earphone"></span> 07 52 67 02 68</p>
                <p><span class="glyphicon glyphicon-envelope"></span> public@cathay-compagnie.fr</p>
            </div>
            <div class="col-md-12 map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2622.298395422411!2d2.3723967156761834!3d48.90970687929255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66c26e74cddc9%3A0x58dee084361f151a!2s23+Quai+Lucien+Lefranc%2C+93300+Aubervilliers!5e0!3m2!1sfr!2sfr!4v1506800206333" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </section>

{% endblock %}