{% extends('layout/layout.html.twig') %}

{% block body %}
    <section>
        <div class="container">
            <div class="col-md-12">
                <h1 class="color-black">Mentions légales</h1>
                <hr>
            </div>
            <div class="col-md-12">
                <h2>Identité</h2>
                <p> SIRET: 533 160 859 <br>
                    SIRET: 53316085900021 <br>
                    RCS: <br>
                    Capital social: 100.000,00 EURO <br>
                    Immatriculation: 28-06-2011 <br>
                    Nationalité: France <br>
                    Adresse: 23 QUAI LUCIEN LEFRANC, <br>
                    93300 AUBERVILLIERS
                    </p>

                <h2>Propriété intellectuelle</h2>
                <p>Directeurs de la publication : cao</p>
                <h3>Établir un lien</h3>
                <p>Tout site public ou privé est autorisé à établir, sans autorisation préalable, un lien vers les informations diffusées sur cathaycompagnie.fr.
                    En revanche, les pages du site présent sur cathaycompagnie.fr ne doivent pas être imbriquées à l’intérieur des pages d’un autre site.</p>
                <h2>Prestataire d’hébergement</h2>
                <p> SAS OVH <br>
                    2 rue Kellermann <br>
                    BP 80157 <br>
                    59100 Roubaix <br>
                    Tél: +33 (0)9 72 10 10 07
                </p>
                <h2>Traitement des données à caractère personnel</h2>
                <p></p>
                <h2>Administration du site</h2>
                <p>L’administration du site internet de Cathay Compagnie est réalisée par l'équipe marketing de la société.</p>
            </div>
        </div>
    </section>

{% endblock %}