{% extends('layout/layout.html.twig') %}

{% block body %}
    <section>
        <div class="container">
            <div class="col-md-12">
                <h1 class="color-black">Mentions légales</h1>
                <hr>
            </div>
            <div class="col-md-12">
                <h2>Identité</h2>
                <p> SIRET: 533 160 859 <br>
                    SIRET: 53316085900021 <br>
                    RCS: <br>
                    Capital social: 100.000,00 EURO <br>
                    Immatriculation: 28-06-2011 <br>
                    Numéro de TVA intracommunautaire<br/>
                    Numéro de déclaration simplifiée Cnil<br/>
                    Nationalité: France <br>
                    Adresse: 23 QUAI LUCIEN LEFRANC, <br>
                    93300 AUBERVILLIERS
                    </p>

                <h2>Propriété intellectuelle</h2>
                <p>Tous les éléments du site cathaycompagnie.fr sont protégés par le droit d'auteur. Les marques, logos, dessins et visuels figurant sur ce site sont la propriété exclusive de la société Cathay Compagnie. Ils ne peuvent donc être utilisés sous peine de contrefaçon. Leur divulgation ne saurait en aucun cas être interprétée comme accordant une licence ou un droit d'utilisation quelconque. Les informations et photos présentes sur ce site sont réservées à un usage personnel. Elles ne peuvent être utilisées ou reproduites, en totalité ou en partie, sous quelque forme ou par quelque moyen que ce soit, sans autorisation écrite de Cathay Compagnie. Pour solliciter cette permission ou pour obtenir des renseignements supplémentaires, veuillez vous adresser au service communication : cathay@compagnie.com. Il est rappelé que la capture pure et simple d'informations nominatives, par exemple pour enrichir des bases de données à finalité commerciale ou publicitaire, est illégale et passible de sanctions.<br/>
                Directeur de la publication : <br/>
                Sylvestre Cao
                </p>
                <h3>Établir un lien</h3>
                <p>Tout site public ou privé est autorisé à établir, sans autorisation préalable, un lien vers les informations diffusées sur cathaycompagnie.fr.
                En revanche, les pages du site présent sur cathaycompagnie.fr ne doivent pas être imbriquées à l’intérieur des pages d’un autre site.</p>

                <h2>Traitement des données à caractère personnel</h2>
                <p>Conformément à la loi française « informatique et libertés » n°78-17 du 6 janvier 1978 modifiée en 2004, cathaycompagnie.fr a déclaré la collecte et le traitement de vos données personnelles auprès de la CNIL.
                Toutes les informations que vous avez pu fournir à cathaycompagnie.fr lors de vos visites sur notre site et nos applications sont strictement confidentielles. Ces informations sont nécessaires à la finalité de leurs traitements telle que la gestion de vos commandes ainsi que les relations commerciales que nous entretenons avec vous.</p>

                <h2>Mentions relatives à la collecte de "cookies"</h2>
                <p>Afin de permettre à tous les internautes une navigation optimale sur le présent site ainsi qu’un meilleur fonctionnement des différentes interfaces et applications, l’éditeur pourra procéder à l’implantation d’un cookie sur le poste informatique de l’utilisateur. Ce cookie permet de stocker des informations relatives à la navigation sur le site (date, page, heures), ainsi qu’aux éventuelles données saisies par les internautes au cours de leur visite (recherches, login, email, mot de passe). Ces cookies ont vocation à être conservés sur le poste informatique de l’internaute pour une durée variable allant jusqu’à un mois, et pourront être lus et utilisés par l’éditeur lors d’une visite ultérieure de l’internaute sur le site. </p>
                <h2>Limitation de responsabilité</h2>
                <p>Nous nous efforçons d'assurer, au mieux de nos possibilités, l'exactitude et l’actualité des informations diffusées sur le site. Nous nous réservons le droit de corriger et de modifier le contenu du site à tout moment et sans préavis. Il appartient aux visiteurs du site de vérifier l'information donnée sur le site par d'autres moyens, y compris en nous contactant directement. Nous déclinons toute responsabilité (a) pour toute imprécision, inexactitude ou omission relative aux informations disponibles sur le site, (b) pour les dommages résultant d'une modification des informations figurant sur le site causée par une éventuelle manipulation frauduleuse effectuée par des tiers et (c) pour tous dommages, directs ou indirects, quelles qu'en soient les causes, origines, nature ou conséquences, provoqués à raison de l'accès de quiconque au site ou de l'impossibilité d'y accéder, de même que l'utilisation du site et/ou du crédit accordé à une quelconque information provenant directement ou indirectement de ce dernier.</p>

                <h2>Prestataire d’hébergement</h2>
                <p> SAS OVH <br>
                    2 rue Kellermann <br>
                    BP 80157 <br>
                    59100 Roubaix <br>
                    Tél: +33 (0)9 72 10 10 07
                </p>

                <h2>Administration du site</h2>
                <p>L’administration du site internet de Cathay Compagnie est réalisée par l'équipe marketing de la société.</p>
            </div>
        </div>
    </section>

{% endblock %}