{% extends('layout/layout.html.twig') %}

{% block body %}
    <section>
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h1 class="color-black">Mentions légales</h1>
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading ft-s18">Identité</div>
                        <div class="panel-body">
                            <p> Cathay Compagnie est une marque de la SARL D.WEAR <br>
                                SIRET: 53316085900021 <br>
                                RCS: 533160859<br>
                                Capital social: 100 000 EUROS <br>
                                Date immatriculation RCS Bobigny: 28-06-2011 <br>
                                Numéro de TVA intracommunautaire: FR22533160859<br/>
                                Numéro de déclaration simplifiée Cnil: <br/>
                                Nationalité: France <br>
                                Adresse: 23 QUAI LUCIEN LEFRANC, <br>
                                93300 AUBERVILLIERS <br>
                                Directeur de publication: Cao Sylvestre <br>
                                Email: contact@cathay-compagnie.fr <br>
                                Téléphone: 01 48 11 98 18 <br>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading ft-s18">Prestataire d’hébergement</div>
                        <div class="panel-body">
                            <p> SAS OVH <br>
                                2 rue Kellermann <br>
                                BP 80157 <br>
                                59100 Roubaix <br>
                                Tél: +33 (0)9 72 10 10 07
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

{% endblock %}