{% extends('layout/layout.html.twig') %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="color-black">
                    La commande en ligne n'est pas encore disponible
                </h2>
            </div>
        </div>
    </div>
{% endblock %}
